@keyframes glow {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff;
    }
    50% {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff;
    }
    100% {
        text-shadow: 0 0 30px #fff, 0 0 40px #ff00ff;
    }
}

.heading {
    text-align: center;
    margin-top: 25px;
    animation: slideInFromTop 1s ease-in-out, glow 2s infinite alternate; /* Combining slide-in and glowing animations */
}

body {
    background: linear-gradient(to right, #ff00ff, #f5ff00); /* Animated gradient background */
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    animation: fadeIn 1s ease-in-out; /* Smooth fade-in animation */
}
